# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude Demo Vault Files
sketch-matter-demo-vault/.obsidian/plugins/sketch-matter/main.js
sketch-matter-demo-vault/.obsidian/plugins/sketch-matter/manifest.json
sketch-matter-demo-vault/.obsidian/plugins/sketch-matter/styles.css
sketch-matter-demo-vault/.obsidian/workspace.json
sketch-matter-demo-vault/*.svg
